<ul class="nav nav-tabs" id="item_tab_list">
  <li class="active"><a href="#items">Items</a></li>
  <li><a href="#item_types">Types</a></li>
  <li><a href="#item_recipes">Recipes</a></li>
</ul>
 
<div class="tab-content">
 	<div class="tab-pane active" id="items">
 		<div class="row">
			<div class="span12">
					<ul class="nav nav-pills">
						<li class="offset1 pull-left"><button class="btn btn-success" onclick="openForm();">Create item</button></li>
					    <li class="pull-right">
					    	<form class="navbar-form">
					        	<input type="text" class="input-medium" placeholder="Look up item name" id="item_search" data-provide="typeahead">
					      	</form>
					    </li>
					</ul>
  			</div>
  		</div>
  		<div class="row">
			<div class="span8 offset2">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="span1"></th>
							<th class="span3">Name</th>
							<th class="span2">Type</th>
							<th class="span2">Options</th>
						</tr>
					</thead>
					<tbody>
					{{#items}}
					<tr id="item-container-{{id}}">
						<td><img src="{{base_url}}{{image}}" /></td>
						<td id="item-container-name-{{id}}">{{name}}</td>
						<td id="item-container-type-{{id}}">{{type}}</td>
						<td><button class="btn" onclick="openForm({{id}});">Edit</button> <button class="btn btn-warning" onclick="deleteItem({{id}}, '{{name}}');">Delete</button></td>
						</tr>
					{{/items}}
					<tr>
						<td colspan="3">
						</td>
						<td>
							<button class="btn btn-success pull-right" onclick="openForm();">Create item</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
 	</div>
 	<div class="tab-pane" id="item_types">...</div>
 	<div class="tab-pane" id="item_recipes">...</div>
</div>


<div class="modal hide fade" id="item-modal">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3 id="item-modal-header"></h3>
	</div>
	<div class="modal-body">

		<form class="form-horizontal" id="item-form">
			<fieldset>
				<input type="hidden" name="id" value="" id="input-id" />
				<input type="hidden" name="csrf" value="{{csrf}}">
				<div class="control-group">
					<label class="control-label" for="form-item-status">Status</label>

					<div class="controls">
						<select name="status" id="form-item-status" class="input-small">
							<option value="draft">Draft</option>
							<option value="released">Released</option>
							<option value="retired">Retired</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="form-item-name">Name</label>

					<div class="controls">
						<input type="text" class="input-medium" id="form-item-name" name="name" value="" maxlength="50">
						<a href="#" id="form-error-name" rel="tooltip" class="btn btn-mini btn-danger hide"><i class="icon-white icon-exclamation-sign"></i></a>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="form-item-description">Description</label>

					<div class="controls">
						<textarea class="input-large" id="form-item-description" name="description"></textarea>
						<a href="#" id="form-error-description" rel="tooltip" class="btn btn-mini btn-danger hide"><i class="icon-white icon-exclamation-sign"></i></a>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="form-item-image">Image name</label>

					<div class="controls">
						<input type="text" class="input-medium" id="form-item-image" name="image" value="" maxlength="200">
						<a href="#" id="form-error-image" rel="tooltip" class="btn btn-mini btn-danger hide"><i class="icon-white icon-exclamation-sign"></i></a>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="form-item-unique">Unique?</label>

					<div class="controls">
						<select id="form-item-unique" name="unique" class="input-small">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="form-item-transferable">Transferable?</label>

					<div class="controls">
						<select id="input05" name="form-item-transferable" class="input-small">
							<option value="1">Yes</option>
							<option value="0">No</option>
						</select>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="control-group">
									<label class="control-label" for="form-item-type">Type</label>

									<div class="controls">
										<select name="type_id" id="input06" class="input-small">
										{{#item_types}}
										<option value="{{id}}">{{name}}</option>
										{{/item_types}}
										</select>
									</div>
								</div>
				<div class="control-group">
									<label class="control-label">Commands</label>

									<div class="controls" id="Commands">
										<input type="text" name="commands[]" class="input-small" maxlength="3" id="input06" value="2">
									</div>
								</div>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success" onclick="saveForm();">Save</button>
	</div>
</div>



<div class="modal hide fade" id="item-modal-delete">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>Delete</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete <strong id="item-delete-name"></strong>?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" onclick="doDelete();">Delete</button>
		<button class="btn" data-dismiss="modal">Keep the item</button>
	</div>
</div>
<div class='notifications bottom-right'></div>