<div class="row">
	<div class="span9" id="recipe-container">
		<div id="notifications">
		</div>
		<ul class="inline">
		  {{#recipes}}
			<li class="span2 pagination-centered">
			    <img src="{{img}}" /><br />
			    <a href="{{url}}" data-recipe-id="{{id}}" class="btn btn-primary">Cook {{name}}</a>
			</li>
		{{/recipes}}
		{{^recipes}}
		<li align="center">You have no recipes in your cookbook</li>
		{{/recipes}}
		</ul>
	</div>
	<div class="span2" style="padding-left: 35px;">
		<div class="btn-group">
			{{#links}}
				<a href="{{link}}" class="btn">{{name}}</a>
			{{/links}}
		</div>
	</div>
</div>

{{#ajax}}
<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Cook <em><span id="recipe"></span></em></h3>
  </div>
  <div class="modal-body" align="center">
  	<ul class="thumbnails span6">
  		
  	</ul>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
    <a href="#" class="btn btn-success hide">Throw together</a>
  </div>
</div>
{{/ajax}}