<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Email</th>
			<th>Last login</th>
			<th>Member since</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		{{#users}}
			<tr>
				<td>{{id}}</td>
				<td><a href="{{links.profile}}">{{username}}</a></td>
				<td>{{email}}</td>
				<td>{{last_login}}</td>
				<td>{{created}}</td>
				<td><a class="btn btn-warning user-edit" href="{{links.edit}}">Edit</a></td>
			</tr>
		{{/users}}
	</tbody>
</table>

<div id="dump"></div>

{{=<% %>=}}
<script type="text/html" id="modal">
	{{{modal}}}
</script>

<script type="text/html" id="edit">
	{{{edit_template}}}
</script>
<%={{ }}=%>
