<div class="row">
	<div class="span3">
		<div class="well">
			<h3>{{user.username}}</h3>

			{{#user.avatar}}
				{{>avatar}}
			{{/user.avatar}}

			<ul class="unstyled">
				<li>Created: {{user.created}}</li>
				<li>Last Login: {{user.last_login}}</li>
				<li>Forum posts: {{user.post_count}}</li>
				<li>Title: {{user.title}}</li>
			</ul>

		</div>
	</div>
	<div class="span9">
		{{& tabs}}
	</div>
</div>
