<form method="post">
	<fieldset>
		<legend>Register</legend>

		<input type="hidden" name="csrf" value="{{csrf}}">

		<div class="hide">
			<label for="full_name">Robot check, leave empty</label>
			<input type="text" name="full_name" id="full_name">
		</div>

		<label for="username">Username</label>
		<input type="text" name="username" id="username" value="{{post.username}}">

		<label for="email">Email</label>
		<input type="text" name="email" id="email" value="{{post.email}}">

		<label for="password">Password</label>
		<input type="password" name="password" id="password">

		<label for="password_confirm">Confirm Password</label>
		<input type="password" name="password_confirm" id="password_confirm">

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Register</button>
		</div>
	</fieldset>
</form>

