<div class="row">
	<div class="span3">
		<div class="well" style="padding: 8px 0">
			<ul class="nav nav-list">
				<li class="nav-header">Navigation</li>
				{{#settings}}
					<li {{#active}}class="active"{{/active}}>
						<a href="#{{id}}" data-toggle="tab">
							{{#icon}}
								<i class="{{icon}}"></i>
							{{/icon}}
							{{title}}
						</a>
					</li>
				{{/settings}}
			</ul>
		</div>
	</div>
	<div class="span9">
		<div class="tab-content">
			{{#settings}}
				<div class="tab-pane {{#active}}active{{/active}}" id="{{id}}">
					<form method="post" enctype="multipart/form-data">
						<input type="hidden" name="csrf" value="{{csrf}}">
						<input type="hidden" name="settings-tab" value="{{id}}">

						<legend>{{title}}</legend>
						{{& view}}

						<div class="form-actions">
							<input type="submit" class="btn btn-primary" value="Save!">
						</div>
					</form>
				</div>
			{{/settings}}
		</div>
	</div>
</div>
