<div class="row">
	<div class="span3">
		<div class="well" style="padding: 8px 0">
			<ul class="nav nav-list">
				<li class="nav-header">Navigation</li>
				{{#navigation}}
					<li {{#active}}class="active"{{/active}}>
						<a href="#{{id}}" data-toggle="tab">
							{{#icon}}
								<i class="{{icon}}"></i>
							{{/icon}}
							{{title}}
						</a>
					</li>
				{{/navigation}}
			</ul>
		</div>
	</div>
	<div class="span9">
		<form method="post">
			<input type="hidden" name="csrf" value="{{csrf}}">

			<div class="tab-content">
				{{#settings}}
					<div class="tab-pane" id="{{id}}">
						<legend>{{title}}</legend>
						{{& view}}
					</div>
				{{/settings}}
			</div>

			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Save!">
			</div>
		</form>
	</div>
</div>
