# Application cache & logs
application/cache/*
application/logs/*

# Composer managed directories
/modules/
/system/
/modulargaming/
/vendor/
/bin/
/themes/

# Assets
/assets/*

# Build logs
/build/logs/

# Composer misc files
/composer.lock
/composer.phar

# Development tool junk
/.idea
