<ul class="nav nav-tabs">
	<li class="active"><a href="#preferences" data-toggle="tab">Preferences</a></li>
	<li><a href="#forum" data-toggle="tab">Forum settings</a></li>
	<li><a href="#profile" data-toggle="tab">Profile</a></li>
	<li><a href="#password" data-toggle="tab">Password</a></li>
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane active in" id="preferences">
		<form id="tab" method="post">
			<input type="hidden" name="csrf" value="{{csrf}}">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" value="{{user.email}}" class="input-xlarge">
			<label for="timezone">Timezone</label>
			<select name="timezone_id" id="timezone" class="input-xlarge">
				{{#timezones}}
				<option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
				{{/timezones}}
			</select>
			<div class="form-actions">
				<button class="btn btn-success" name="update_preferences">Update</button>
			</div>
		</form>
	</div>
	<div class="tab-pane fade" id="forum">
		<form id="tab2" method="post">
			<input type="hidden" name="csrf" value="{{csrf}}">
       		<label for="signature">Signature</label>
			<textarea id="signature" name="signature" class="textarea-basic">{{{user.signature}}}</textarea>
			<div class="form-actions">
				<button class="btn btn-success" name="update_forum" name="update_forum">Update</button>
			</div>
		</form>
	</div>
	<div class="tab-pane fade" id="profile">
		<form id="tab3" method="post" enctype="multipart/form-data">
			<input type="hidden" name="csrf" value="{{csrf}}">
			<label>Avatar</label>
			<div class="fileupload fileupload-new" data-provides="fileupload"{{#user.gravatar}} style="opacity:.5;"{{/user.gravatar}}>
				<div class="fileupload-new thumbnail" style="width: 64px; height: 64px;"><img src="{{#user.avatar}}{{user.avatar}}{{/user.avatar}}{{^user.avatar}}{{base_url}}assets/img/avatars/default.png{{/user.avatar}}" /></div>
				<div class="fileupload-preview fileupload-exists thumbnail" style="width: 64px; height: 64px; line-height: 20px;"></div>
				<span class="btn btn-file{{#user.gravatar}} disabled{{/user.gravatar}}" id="avatar_button"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="avatar" id="avatar"{{#user.gravatar}} disabled{{/user.gravatar}}></span>
			</div>
			<label class="checkbox">
				<input type="checkbox" name="gravatar" onchange="$('#avatar').attr('disabled', this.checked);if(this.checked){$('.fileupload').css('opacity','.5');$('#avatar_button').addClass('disabled');}else{$('.fileupload').css('opacity','1');$('#avatar_button').removeClass('disabled');}"{{#user.gravatar}} checked{{/user.gravatar}}> Use gravatar
			</label>
			{{#user.avatar}}<button class="btn btn-small btn-danger" name="remove_avatar" value="1">Remove avatar</button>{{/user.avatar}}
       		<label for="about">About me</label>
			<textarea id="about" name="about" class="textarea">{{{user.about}}}</textarea>
			<div class="form-actions">
				<button class="btn btn-success" name="update_profile">Update</button>
			</div>
		</form>
	</div>
	<div class="tab-pane fade" id="password">
		<form id="tab4" method="post">
			<input type="hidden" name="csrf" value="{{csrf}}">
			<label for="password_current">Password</label>
			<input type="password" name="password_current" id="password_current" class="input-xlarge">
			<label for="password">New Password</label>
			<input type="password" name="password" id="password" class="input-xlarge">
			<label for="password_confirm">Confirm Password</label>
			<input type="password" name="password_confirm" id="password_confirm" class="input-xlarge">
			<div class="form-actions">
				<button class="btn btn-success" name="update_password">Update</button>
			</div>
		</form>
	</div>
</div>