<form method="post">
	<fieldset>
		<legend>Update Profile</legend>

		<input type="hidden" name="csrf" value="{{csrf}}">

		<label for="password_current">Password</label>
		<input type="password" name="password_current" id="password_current">

		<label for="email">Email</label>
		<input type="email" name="email" id="email" value="{{user.email}}">

		<label for="password">New Password</label>
		<input type="password" name="password" id="password">

		<label for="password_confirm">Confirm Password</label>
		<input type="password" name="password_confirm" id="password_confirm">

		<label for="timezone">Timezone</label>
		<select name="timezone_id" id="timezone">
			{{#timezones}}
				<option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
			{{/timezones}}
		</select>

		<label for="signature">Signature</label>
		<textarea id="signature" name="signature" class="">{{user.signature}}</textarea>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</fieldset>
</form>
