<form method="post">
	<fieldset>
		<legend>Login</legend>

		<input type="hidden" name="csrf" value="{{csrf}}">

		<label for="username">Username</label>
		<input type="text" name="username" id="username">

		<label for="password">Password</label>
		<input type="password" name="password" id="password">

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</fieldset>
</form>
