<div class="container">
	<div class="row">
		<div class="span3">
			<div class="row well">
				<h3>{{profile_user.username}}</h3>
				<img src="{{#profile_user.avatar}}{{profile_user.avatar}}{{/profile_user.avatar}}{{^profile_user.avatar}}{{base_url}}assets/img/avatars/default.png{{/profile_user.avatar}}" alt="" class="img-polaroid">
				<p>
					<ul class="unstyled">
						<li>Created: {{profile_user.created}}</li>
						<li>Last Login: {{profile_user.last_login}}</li>
						<li>Forum posts: {{profile_user.post_count}}</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="span9">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#pets" data-toggle="tab">Pets</a></li>
				<li><a href="#about" data-toggle="tab">About me</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active in" id="pets">
					<div class="row">
						{{#pets}}
						<div class="span3 center">
							<span class="thumbnail">
								<a href="{{href}}"><img src="{{src}}" alt=""></a>
								<h4><a href="{{href}}">{{name}} the {{colour}} {{race}}</a></h4>
							</span>
							<br>
						</div>
						{{/pets}}
						{{^pets}}
						<p class="span5">{{profile_user.username}} has no pets.</p>
						{{/pets}}
					</div>
				</div>
				<div class="tab-pane fade" id="about">
				{{{profile_user.about}}}
				</div>
			</div>
		</div>
	</div>
</div>