<h2 class="page-title">Profile</h2>
<ul>
	{{#user}}
		<li>User ID {{id}}</li>
		<li>Username {{username}}</li>
		<li>Email {{email}}</li>
		<li>Logins {{logins}}</li>
		<li>Last Login {{last_login}}</li>
	{{/user}}
</ul>
