<h2 class="page-title">{{title}}</h2>

<form method="get">
	<input type="text" name="query" class="search-query" placeholder="Search" value="{{query}}">
    <button type="submit" class="btn">Search</button>
</form>

<h3>Results</h3>

<h4>Users</h4>
{{#users}}
	{{username}}
{{/users}}