<div class="row">
	<div class="span12 pagination-centered">
		<div class="btn-group">
		{{#links}}
			<a href="{{link}}" class="btn{{#active}} active{{/active}}">{{name}}</a>
		{{/links}}
		</div>
	</div>
</div>