<div>
  <h5>Poll: {{title}}</h5>
  {{#options}}
  <strong>{{title}}</strong><span class="pull-right">{{percent}}% Votes: {{votes}}</span>
  <div class="progress progress-{{colour}}">
      <div class="bar" style="width: {{percent}}%;"></div>
  </div>
  {{/options}}
  <p>
  	<a href="{{links.poll}}" class="btn btn-success">Vote</a>
  </p>
</div>
<hr>