{{> Item/shops }}
<div class="row">
	<div class="span12">
		{{#shop}}
		<form class="form-horizontal" method="post" action="{{link}}">
			<input type="hidden" name="csrf" value="{{csrf}}" />
			<div class="control-group">
		    	<label class="control-label" for="input-title">Title</label>
		    	<div class="controls">
		      		<input type="text" id="input-title" class="span2" name="title" value="{{title}}">
		    	</div>
		  	</div>
		  	<div class="control-group">
		    	<label class="control-label" for="input-description">Description</label>
		    	<div class="controls">
		      		<textarea name="description" class="span3" rows="5">{{description}}</textarea>
		    	</div>
		  	</div>
		  	{{/shop}}
		  	{{#units}}
		  	<div class="control-group">
		    	<label class="control-label" for="input-description">Shop size</label>
		    	<div class="controls">
		      		<strong>{{size}}</strong> <a href="{{link}}" class="btn">Upgrade shop size</a>
		      		<span class="help-block"><em>Your shop can contain up to {{content}} items.</em></span>
		    	</div>
		  	</div>
		  	{{/units}}
		  	<div class="form-actions">
		  		<input type="submit" class="btn btn-primary" value="Update shop">
			</div>
		</form>
	</div>
</div>
