{{> Item/shops }}
<div class="row">
	<div class="span12">
		<form action="{{inventory_url}}" method="post">
		<input type="hidden" name="csrf" value="{{csrf}}" />

		<table class="table table-striped table-condensed span6 offset3">
		<thead>
			<tr>
				<td class="span1"></td>
				<td class="span2">Name</td>
				<td class="span1">#</td>
				<td class="span2">Manage</td>
			</tr>
		</thead>
		<tbody>
			{{#items}}
				<tr>
					<td><img src="{{img}}" /></td>
					<td>{{name}}</td>
					<td><em>{{amount}}</em></td>
					<td><input class="input-small" type="text" name="item[{{id}}][price]" value="{{price}}" /> <input type="checkbox" name="item[{{id}}][remove]" /></td>
				</tr>
			{{/items}}
			{{^items}}
				<tr>
					<td colspan="4" style="text-align: center;">You have no items in stock.</td>
				</tr>
			{{/items}}
			<tr>
				<td colspan="3"> </td>
				<td class="pull-right"><input type="submit" class="btn btn-primary" value="Update" /></td>
			</tr>
		</tbody>
		</table>
		{{& pagination}}
		</form>
	</div>
</div>
