Hello!
<br><br>

Someone, hopefully you have requested to have your password reset.
If you haven't requested a password request, ignore this email, otherwise continue reading.
<br>

Your username is: <strong>{{user.username}}</strong>
<br>
<br>

Follow the <a href="{{token_link}}">link</a> to enter your new password.