Hello!

Someone, hopefully you have requested to have your password reset.
If you haven't requested a password request, ignore this email, otherwise continue reading.

Follow the <a href="{{token_link}}">link</a> to enter your new password, or enter the code, <code>{{token}}</code> manualy.