<label for="email">Email</label>
<input type="email" name="email" id="email" value="{{player.email}}">

<label for="password">New Password</label>
<input type="password" name="password" id="password">

<label for="password_confirm">Confirm Password</label>
<input type="password" name="password_confirm" id="password_confirm">

<label for="password_current">Current Password</label>
<input type="password" name="password_current" id="password_current">
<span class="help-block">You are required to enter your current password in order to change your email or password.</span>