<label for="timezone">Timezone</label>
<select name="timezone_id" id="timezone">
	{{#timezones}}
		<option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
	{{/timezones}}
</select>