<label for="about">About me</label>
<textarea id="about" name="about" class="textarea">{{{player.about}}}</textarea>

<label for="signature">Signature</label>
<textarea id="signature" name="signature" class="textarea-basic">{{{player.signature}}}</textarea>