{{& pagination}}

<a href="{{href.create}}" class="btn">Create a pet</a>
<hr>
{{#pets_count}}
<ul class="thumbnails">
{{/pets_count}}
{{#pets}}
		<li class="span4">
			<div class="thumbnail center">
				<img src="{{base_url}}assets/img/pets/{{specie}}/{{colour.image}}" alt="">
				<div class="caption">
					<h3>{{name}}</h3>
					<form method="post">
						<input type="hidden" name="csrf" value="{{csrf}}">
						<button class="btn" name="adopt" value="{{id}}">Adopt</button>
					</form>
				</div>
			</div>
		</li>
{{/pets}}
{{^pets}}
	<div class="alert alert-error alert-block">
		<h4>No pets</h4>
		There are no pets available to adopt.
	</div>
{{/pets}}
{{#pets_count}}
</ul>
{{/pets_count}}


