{{#pet}}
	<h2>{{name}} the {{colour.name}} {{specie.name}}</h2>
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail">
				<img src="{{img}}"/>
			</div>
		</li>
		<li class="span2">
			<ul>
				<li>ID: {{id}}</li>
				<li>User: <a href={{user.href}}>{{user.username}}</a></li>
				<li>Name: {{name}}</li>
				<li>Gender: {{gender}}</li>
				<li>Specie: {{specie.name}}</li>
				<li>Colour: {{colour.name}}</li>
				<li>Hunger: 
				<div class="progress progress-info progress-striped">
    				<div class="bar" style="width: {{hunger}}%"></div>
    				</div></li>
				<li>Happiness: 
				<div class="progress progress-info progress-striped">
    				<div class="bar" style="width: {{happiness}}%"></div>
    				</div></li>
				<li>Created: {{created}}</li>
			</ul>
		</li>
	</ul>
{{/pet}}
