<a class="btn" href="{{base_url}}pet/">Your pets</a> <a class="btn" href="{{base_url}}pet/create/">Create a pet</a>

<hr>

<ul class="thumbnails">
{{#pets}}
	<li class="span4 center">
		<div class="thumbnail">
		<a href="#">
			<img src="{{src}}" /><br />
			{{name}} the {{colour.name}} {{race.name}}
		</a>
		<form method="post">
			<input type="hidden" name="csrf" value="{{csrf}}">
			<button class="btn" name="pet_id" value="{{id}}">Adopt</button>
		</form>
		</div>
	</li>
{{/pets}}
</ul>
{{^total_pets}}
<div class="alert alert-error">
  There are no pets available to adopt.
</div>
{{/total_pets}}