<a class="btn" href="{{base_url}}pet/create/">Create a pet</a> <a class="btn" href="{{base_url}}pet/adopt/">Adopt a pet</a>

<hr>

<ul class="thumbnails">
{{#pets}}
	<li class="span4 center">
		<div class="thumbnail">
		<a href="#">
			<img src="{{src}}" /><br />
			{{name}} the {{colour.name}} {{race.name}}
		</a>
		<form method="post">
			<input type="hidden" name="csrf" value="{{csrf}}">
			<input type="hidden" name="pet_id" value="{{id}}">
			{{#active}}<button class="btn btn-small disabled" disabled>Make active</button>{{/active}}
			{{^active}}<button type="submit" class="btn btn-small" name="action" value="active">Make active</button>{{/active}}
			<button type="submit" class="btn btn-small btn-danger" name="action" value="abandon" onclick="return confirm('Are you sure?');">Abandon</button>
		</form>
		</div>
	</li>
{{/pets}}
</ul>
{{^total_pets}}
<div class="alert alert-error">
  You have have no pets.
</div>
{{/total_pets}}