<div class="row">
	<div class="span6 offset3">
		<div class="row-fluid">
			{{>item/trades}}
		</div>
		<div class="row pagination-centered">
			You have made {{count}} bids
		</div>
		<div class="row-fluid">
			{{#bids}}
				<div class="row">
					Bid made to lot <strong>#<a href="{{lot}}">{{lot_id}}</a></strong> by <em><a href="{{profile}}">{{username}}</a></em>
					<span class="pull-right">
						<a href="{{retract}}" class="btn btn-warning">Cancel bid</a> 
					</span>
				</div>
				<div class="media">
					{{#inventory}}
						<img class="media-object pull-left" src="{{img}}" width="45" heigth="45" />
					  <div class="media-body">
					    {{name}}
					  </div>
					{{/inventory}}
					{{#points}}
					{{#currency_image}}
						<img class="media-object pull-left" src="{{.}}" />
					{{/currency_image}}
					<div class="media-body">
					    {{amount}}
					  </div>
					{{/points}}
				</div>
			{{/bids}}
		</div>
	</div>
</div>