<form method="post">
	<fieldset>
		<legend>Create Message</legend>

		<input type="hidden" name="csrf" value="{{csrf}}">

		<label>To</label>
		<input type="text" name="to_id">

		<label>Subject</label>
		<input type="text" name="subject">
<br />
		<textarea rows="4" cols="50" name="text">
		</textarea>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Send</button>
		</div>
	</fieldset>
</form>

