You have {{total_messages}} messages. <a href="/messages/create">Create a message</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Subject</th>
			<th>Sender</th>
		</tr>
	</thead>
	<tbody>
		{{#messages}}
			<tr>
				<td>{{subject}}</td>
				<td><a href="user/view/{{sender.id}}">{{sender.username}}</a></td>
			</tr>
		{{/messages}}
	</tbody>
</table>
