You have {{total}} messages. <a href="/messages/create">Create a message</a>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Subject</td>
		</tr>
	</thead>
	<tbody>
		{{#messages}}
			<tr>
				<td>{{subject}}</td>
			</tr>
		{{/messages}}
	</tbody>
</table>