<h2 class="page-title">{{title}}</h2>
        {{#message}}


		<textarea>{{text}}</textarea>

		<br />
                Sent {{time}} by <a href="/user/view/{{sender_id}}">{{sender_id}}</a>


        {{/message}}

