<form method="post">
	<fieldset>
		<legend>Create a Topic</legend>

		<input type="hidden" name="csrf" value="{{csrf}}">

		<label for="title">Title</label>
		<input type="text" name="title" id="title">

		<textarea name="content" id="message" class="textarea" placeholder="Enter text..."></textarea>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Create</button>
		</div>
		
	</fieldset>
</form>
