<form method="post">
	<input type="hidden" name="csrf" value="{{csrf}}">
	{{#poll}}
	edit
	{{/poll}}
	{{^poll}}
	<fieldset>
		<legend>Title</legend>
		<input type="text" name="title">
	</fieldset>
	<fieldset>
		<legend>Options</legend>
		<input type="text" name="options[]" placeholder="Option 1"><br>
		<input type="text" name="options[]" placeholder="Option 2"><br>
		<input type="text" name="options[]" placeholder="Option 3"><br>
		<input type="text" name="options[]" placeholder="Option 4"><br>
		<input type="text" name="options[]" placeholder="Option 5"><br>
	</fieldset>
	<button class="btn btn-primary" name="create">Create poll</button>
	{{/poll}}
</form>