<a href="{{href.adopt}}" class="btn">Adopt a pet</a>
<hr>
<form method="post">
	<input type="hidden" name="csrf" value="{{csrf}}">
	<input type="hidden" name="specie_id" id="specie_id" value="1" />
	<input type="hidden" name="colour_id" id="colour_id" value="1" />
	<input type="hidden" name="gender" id="gender" value="male" />
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail center">
				<img src="{{base_url}}media/image/pets/{{default_specie}}/{{default_colour}}" id="pet_image" />
				<h3><span id="pet_colour">Black</span> <span id="pet_specie">Koorai</span></h3>
				<p id="pet_description">The Koorai</p>
			</div>
		</li>
		<li class="span8">
			<label>Specie</label>
			<ul class="thumbnails">
				{{#species}}
				<li>
					<a href="#" class="thumbnail" rel="popover" data-trigger="hover" data-placement="bottom" data-content="{{description}}" data-original-title="{{name}}" data-specie="{{id}}">
						<img src="{{base_url}}media/image/pets/{{dir}}/{{default_colour}}" class="pet_specie" />
					</a>
				</li>
				{{/species}}
			</ul>
			<label>Colour</label>
			<div class="btn-group" data-toggle="buttons-radio">
				{{#colours}}
				<button type="button" class="btn pet_colour{{active}}" value="{{id}}">{{name}}</button>
				{{/colours}}
			</div><br /><br />
			<label>Name</label>
			<input type="text" name="name" maxlength="255" required>
			<a href="#" class="btn btn-mini btn-inverse" title="Your pet's name may only contain letters, numbers, and underscores."><i class="icon-question-sign icon-white"></i></a>
			<br /><br />
			<label>Gender</label>
			<div class="btn-group gender" data-toggle="buttons-radio">
				<button type="button" class="btn active" value="male">Male</button>
				<button type="button" class="btn" value="female">Female</button>
			</div>
		</li>
	</ul>
	<div class="form-actions">
		<button class="btn btn-success" type="submit">Create pet</button>
	</div>
</form>
<style>
.pet_specie {
	width: 100px;
	height: 100px;
}
</style>
<script>
var pet_data = {{& compose}},
 base_url = '{{base_url}}media/image/pets/';
</script>
