{{& pagination}}
<a href="{{href.create}}" class="btn">Create a pet</a> <a href="{{href.adopt}}" class="btn">Adopt a pet</a>
<hr>
{{#pets_count}}
<ul class="thumbnails">
{{/pets_count}}
{{#pets}}
		<li class="span4">
			<div class="thumbnail center">
				<a href="{{href}}"><img src="{{src}}" alt=""></a>
				<div class="caption">
					<h3>{{name}} the {{colour}} {{specie}}</h3>
					<form method="post">
						<input type="hidden" name="csrf" value="{{csrf}}">
						{{^active}}<button class="btn" name="active" value="{{id}}">Set active</button>{{/active}}
						{{#active}}<a class="btn disabled" href="#">Set active</a>{{/active}}
						<button class="btn btn-danger" name="abandon" value="{{id}}">Abandon</button>
					</form>
				</div>
			</div>
		</li>
{{/pets}}
{{^pets}}
	<div class="alert alert-error alert-block">
		<h4>No pets</h4>
		You have no pets
	</div>
{{/pets}}
{{#pets_count}}
</ul>
{{/pets_count}}
