<tr>
	<td class="span3">{{title}}</td>
	<td class="span4">
	{{#fields}}
		{{#input}}
			<input type="text" name="{{name}}" class="{{class}}" />
		{{/input}}
	{{/fields}}
	</td>
	<td class="span1">
		<a href="#" class="btn btn-mini btn-danger pull-right btn-cmd-close">x</a>
	</td>
</tr>