{{#post}}
	<h3>{{id}}</h3>
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object" src="{{base_url}}assets/img/avatar.png">
		</a>
		<div class="media-body">
			<h5 class="media-heading">Posted by {{user.username}}</h5>
			<blockquote>
				<p>{{{content}}}</p>
				<small>{{created}}</small>
			</blockquote>
		</div>
	</div>
{{/post}}

