<form method="post">
	<fieldset>
		<legend>Logout</legend>

		<input type="hidden" name="csrf" value="{{csrf}}">
		Are you sure you want to logout?

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Logout</button>
		</div>
	</fieldset>
</form>
