<div class="fileupload fileupload-new" data-provides="fileupload">
	<div class="fileupload-new thumbnail" style="width: {{width}}px; height: {{height}}px;">
		<img src="{{url}}">
	</div>

	<div class="fileupload-preview fileupload-exists thumbnail" style="width: {{width}}px; height: {{height}}px;"></div>

	<span class="btn btn-file">
		<span class="fileupload-new">Select image</span>
		<span class="fileupload-exists">Change</span>
		<input type="file" name="avatar-upload" />
	</span>

	<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
</div>