<h2>{{topic.title}}</h2>

<div class="row">
	<div class="span6">
		{{#can_reply}}
			<a href="{{links.reply}}" class="btn btn-primary"><i class="icon-comment icon-white"></i> Reply</a>
		{{/can_reply}}
	</div>
	<div class="span6 pagination-right">
		{{& pagination}}
	</div>
</div>
<hr>

{{#posts}}
	{{>Forum/Post}}
{{/posts}}

<div class="form-actions">
    {{#topic.locked}}
        <p>This topic is locked - {{topic.locked_date}}</p>
    {{/topic.locked}}

    {{#can_reply}}
		<a href="{{links.reply}}" class="btn btn-primary"><i class="icon-comment icon-white"></i> Reply</a>
    {{/can_reply}}

	{{#has_actions}}
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-wrench"></i>
				Action
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				{{#actions}}
					<li><a href="{{href}}">{{#icon}}<i class="{{icon}}"></i> {{/icon}}{{title}}</a></li>
				{{/actions}}
			</ul>
		</div>
	{{/has_actions}}

</div>

{{& pagination}}