<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Race</th>
			<th>Colour</th>
			<th>Created</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{{#pets}}
			<tr>
				<td>{{id}}</td>
				<td><a href="{{links.profile}}">{{name}}</a></td>
				<td>{{race.name}} ({{race.id}})</td>
				<td>{{colour.name}} ({{colour.id}})</td>
				<td>{{created}}</td>
				<td><a class="btn btn-warning" href="{{links.edit}}">Edit</a></td>
				<td><a class="btn btn-danger" href="{{links.delete}}">Delete</a></td>
			</tr>
		{{/pets}}
	</tbody>
</table>