<tr id="command-{{name}}">
	<td>{{title}}</td>
	<td>
	{{#fields}}
		{{#input}}
			<input type="text" name="{{name}}" class="{{class}}" />
		{{/input}}
	{{/fields}}
	</td>
	<td class="span1">
		<a href="#" class="btn btn-mini btn-danger">x</a>
	</td>
</tr>