<form method="post">
	<fieldset>
		<legend>New password</legend>

		<input type="hidden" name="csrf" value="{{csrf}}">

		<label for="password">New password</label>
		<input type="text" name="password" id="password">
		<span class="help-block">Example block-level help text here.</span>

		<label for="password_confirm">Confirm password</label>
		<input type="text" name="password_confirm" id="password_confirm">

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Save password</button>
		</div>
	</fieldset>
</form>
