{{#categories}}
	<div class="well well-small">
		<a href="{{href}}"><h3>{{title}}</h3></a>
		<p>{{description}}</p>
	</div>
{{/categories}}

{{^categories}}
	<div class="alert alert-error">No forum categories</div>
{{/categories}}
