<form id="config-form" class="form-horizontal" action="{{link}}">
<input type="hidden" name="csrf" value="{{csrf}}" />
<div class="row-fluid">
	<div class="span12">
	<input type="submit" class="btn-success btn pull-right" value="Save" />
	</div>
</div>
</form>
<script>
	var module_form_definition = {{&definition}};
</script>