{{^has_price}}
<div class="alert alert-error">
	You need at least 100 points to play Lucky Wheel.
</div>
{{/has_price}}
{{^can_play}}
	{{#has_price}}
	<div class="alert alert-error">
		You may only play Lucky Wheel once every hour. Please come back later.
	</div>
	{{/has_price}}
{{/can_play}}
{{#game}}
	<ul>
		<li>Plays today: {{plays}}</li>
		<li>Last play: {{last_play}}</li>
		<li>Winings: {{winnings}}</li>
	</ul>
{{/game}}
{{#play}}
	<div class="alert alert{{#win}}-success{{/win}}{{^win}}-error{{/win}}">
		<strong>{{#win}}You won {{win}} points!{{/win}}{{^win}}You lost!{{/win}}</strong> Come back in an hour to play again.
	</div>
{{/play}}
<p class="muted">
	Spin the wheel for a chance to win points. Consecutive wins add 50% of your total winnings.<br>
	If you lose, you will lose all of your winnings.
</p>
<p class="text-info">
	Lucky Wheel can be played once every hour.
</p>
<form action="" method="post">
	<input type="hidden" name="csrf" value="{{csrf}}">
	<div class="form-actions">
		<button class="btn"{{^can_play}} disabled{{/can_play}}>Play for 100 points</button>
		{{#game.winnings}}<button class="btn btn-primary" name="collect" value="collect">Collect winnings</button>{{/game.winnings}}
	</div>
</form>
