{{^can_play}}
	<div class="alert alert-error">
		You may only play Rock Paper Scissors 5 times every 24 hours. Please come back later.
	</div>
{{/can_play}}
{{#game}}
	<ul>
		<li>Plays today: {{plays}}</li>
		<li>Last play: {{last_play}}</li>
		<li>Winings: {{winnings}}</li>
	</ul>
{{/game}}
{{#play}}
	<div class="alert alert{{#win}}-success{{/win}}{{^win}}{{^draw}}-error{{/draw}}{{/win}}">
		<strong>{{#win}}You won {{win}} points!{{/win}}{{^win}}{{#draw}}Draw!{{/draw}}{{^draw}}You lost!{{/draw}}{{/win}}</strong> You chose {{player}} and NPC chose {{npc}}.
	</div>
{{/play}}
<p class="muted">
	Rock defeats scissors, scissors defeats paper, and paper defeats rock.<br>
	If you win, you will recieve 10 points. Consecutive wins add 25% of your total winnings.<br>
	If you lose, you will lose all of your winnings.
</p>
<p class="text-info">
	Rock Paper Scissors can be played 5 times every 24 hours.
</p>
<form action="" method="post">
	<input type="hidden" name="csrf" value="{{csrf}}">
	<div class="form-actions">
		<button class="btn" name="move" value="rock"{{^can_play}} disabled{{/can_play}}>Rock</button>
		<button class="btn" name="move" value="paper"{{^can_play}} disabled{{/can_play}}>Paper</button>
		<button class="btn" name="move" value="scissors"{{^can_play}} disabled{{/can_play}}>Scissors</button>
		{{#game.winnings}}<button class="btn btn-primary" name="collect" value="collect">Collect winnings</button>{{/game.winnings}}
	</div>
</form>
