{{#pets}}
	<div class="span3 center">
		<span class="thumbnail">
			<a href="{{href}}"><img src="{{src}}" alt=""></a>
			<h4><a href="{{href}}">{{name}} the {{colour}} {{specie}}</a></h4>
		</span>
	</div>
{{/pets}}

{{^pets}}
	<p class="span5">{{user.username}} has no pets.</p>
{{/pets}}
