<div class="row">
	<div class="span9" id="recipe-container">
		<div id="notifications">
		</div>
		<ul class="inline">
		  {{#recipes}}
			<li class="span2 pagination-centered" data-id="{{id}}">
			    <img src="{{img}}" /><br />
			    <a href="{{url}}" class="btn btn-primary">Cook {{name}}</a>
			    </form>
			</li>
		{{/recipes}}
		{{^recipes}}
		<li align="center">You have no recipes in your cookbook</li>
		{{/recipes}}
		</ul>
	</div>
	<div class="span2" style="padding-left: 35px;">
		<div class="btn-group">
			{{#links}}
				<a href="{{link}}" class="btn">{{name}}</a>
			{{/links}}
		</div>
	</div>
</div>
