<span class="hide" id="csrf">{{csrf}}</span>

		<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped" id="crud-container">
			<thead>
				<tr>
					<th class="span1"></th>
					<th class="span2">Name</th>
					<th class="span1"></th>
					<th class="span2">Type</th>
					<th class="span2">Options</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="5" class="dataTables_empty pagination-centered">Loading data from server</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5"><button class="btn btn-success pull-right btn-create">Create item</button></td>
				</tr>
			</tfoot>
		</table>


{{! item modal}}

<div class="modal hide fade" id="modal-crud">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<div class="btn-group pull-right hide modal-options" style="margin-right: 15px;">
		  	<a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
		    	Options
		    	<span class="caret"></span>
		  	</a>
		  	<ul class="dropdown-menu">
		  		<li><a href="#" id="option-gift">Gift to user</a></li>
		    	<li><a href="#" id="option-delete">Delete</a></li>
		  	</ul>
		</div>
		<div class="btn-group pull-right hide" id="modal-crud-errors" style="margin-right: 15px;">
		  <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
		    <i class="icon-exclamation-sign icon-white"> </i> Errors
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu" id="modal-crud-error-list">
		    <!-- error messages -->
		  </ul>
		</div>
		<h3 id="modal-header"></h3>
	</div>
	<div class="modal-body">
		
			<ul class="nav nav-tabs" id="modal-crud-tab">
			  <li class="active"><a href="#crud-tab-general">General</a></li>
			  <li><a href="#crud-tab-settings">Settings</a></li>
			</ul>
			<form class="form-horizontal" id="modal-crud-form">
			<div class="tab-content" style="height: 280px;">
			
	 			<div class="tab-pane active" id="crud-tab-general">
				
					<input type="hidden" name="id" value="" id="input-id" />
				<input type="hidden" name="csrf" value="" />
					
					<div class="control-group">
						<label class="control-label" for="input-name">Name</label>
	
						<div class="controls">
							<input type="text" class="input-medium" id="input-name" name="name" value="" maxlength="50">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="input-description">Description</label>
	
						<div class="controls">
							<textarea class="input-large" id="input-description" name="description" rows="2"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="input-image">Image name</label>
	
						<div class="controls">
								<div class="fileupload fileupload-new" data-provides="fileupload" id="input-image">
									<div class="fileupload-new thumbnail" style="width: {{image.width}}px; height: {{image.height}}px;">
								  		<img src="http://www.placehold.it/{{image.width}}x{{image.height}}/EFEFEF/AAAAAA" />
								  	</div>
								 	<div class="fileupload-preview fileupload-exists thumbnail" style="width: {{image.width}}px; height: {{image.height}}px;"></div>
								  	<span class="btn btn-file">
								  		<span class="fileupload-new">Select image</span>
								  		<span class="fileupload-exists">Change</span>
								  		<input type="file" />
								  	</span>
								  	<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
								</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="input-unique">Unique?</label>
	
						<div class="controls">
							<select id="input-unique" name="unique" class="input-small">
								<option value="0">No</option>
								<option value="1">Yes</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="input-transferable">Transferable?</label>
	
						<div class="controls">
							<select id="input-transferable" name="transferable" class="input-small">
								<option value="1">Yes</option>
								<option value="0">No</option>
							</select>
							<a href="#" class="btn btn-mini btn-inverse" title="Will the user be able to transfer the item to other users?"><i class="icon-question-sign icon-white"></i></a>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="crud-tab-settings">
					<div class="control-group">
						<label class="control-label" for="input-status">Status</label>
	
						<div class="controls">
							<select name="status" id="input-status" class="input-small">
								<option value="draft">Draft</option>
								<option value="released">Released</option>
								<option value="retired">Retired</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="input-type_id">Type</label>
	
						<div class="controls">
							<select name="type_id" id="input-type_id" class="input-small">
								<option>Select</option>
								{{#item_types}}
									<option value="{{id}}">{{name}}</option>
								{{/item_types}}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">
						<div class="btn-group">
							<a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown" id="modal-crud-cmd-add">Commands <span class="caret"></span></a>
							
							<ul class="dropdown-menu" role="menu">
								{{#menu_commands}}
								<li class="dropdown-submenu">
									<a tabindex="-1" href="#">{{name}}</a>
									<ul class="dropdown-menu">
										{{#commands}}
											<li><a href="#" class="modal-crud-cmd-options" data-command="{{cmd}}">{{name}}</a></li>
										{{/commands}}
									</ul>
								</li>
								{{/menu_commands}}
							</ul>
						</div>
						</label>
	
						<div class="controls span8" id="Commands">
							<table class="table table-condensed">
								<tbody id="modal-crud-commands">
								
								</tdbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</form>
		<div class="notifications top-right" id="modal-notify"></div>
	</div>
	<div class="modal-footer">
		<div class="progress progress-striped active span8 hide">
		  <div id="modal-footer-upload-progress" class="bar bar-success" style="width: 1%;"></div>
		</div>
		<button type="submit" class="btn btn-success" id="modal-crud-save">Save</button>
	</div>
</div>

{{! item gift modal }}
<div class="modal hide fade" id="modal-gift">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>Gift <span id="modal-gift-name"></span></h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="modal-gift-form">
		<div class="control-group"> 
			<label class="control-label" for="modal-gift-amount">Amount</label>

			<div class="controls">
				<input type="text" name="amount" id="modal-gift-amount" class="input-small" value="1" />
				<a href="#" id="modal-gift-error-amount" rel="tooltip" class="btn btn-mini btn-danger hide"><i class="icon-white icon-exclamation-sign"></i></a>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="modal-gift-username">User</label>

			<div class="controls">
				<input type="text" name="username" class="input-medium" placeholder="Look up user" id="modal-gift-username" data-provide="typeahead">					
				<a href="#" id="gift-error-username" rel="tooltip" class="btn btn-mini btn-danger hide"><i class="icon-white icon-exclamation-sign"></i></a>
			</div>
		</div>
			
		   	
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" id="modal-gift-send">Send item</button>
	</div>
</div>

<div class="hide" id="item-command-input-collection">
<table>
{{#input_commands}}
{{> admin/item/commands}}
{{/input_commands}}
</table>
</div>

{{! Delete modal}}
<div class="modal hide fade" id="modal-delete">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>Delete</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete <strong id="modal-delete-name"></strong>?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" id="btn-remove">Delete</button>
		<button class="btn" data-dismiss="modal" id="modal-delete-keep">Keep the <span id="modal-delete-type"></span></button>
	</div>
</div>
<div class="notifications bottom-right" id="crud-notify"></div>

<script type="text/javascript">
var cmd_type_map = {
	{{#item_types}}
	{{id}} : '{{command}}',
	{{/item_types}}
};
var cmd_definitions = {
	{{#command_definitions}}
		{{name}} : {
			multiple: {{multiple}},
			pets: {{pets}},
			search: '{{search}}',
			only: '{{only}}'
		},
	{{/command_definitions}}
};
</script>
