<span class="hide" id="csrf">{{csrf}}</span>


		<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped" id="data-table">
			<thead>
				<tr>
					<th class="span2">Name</th>
					<th class="span1">Ingredients</th>
					<th class="span1">Result</th>
					<th class="span2">Options</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4" class="dataTables_empty pagination-centered">Loading data from server</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4"><button class="btn btn-success pull-right btn-create">Create recipe</button></td>
				</tr>
			</tfoot>
		</table>


<div class="modal hide fade" id="modal-crud">
	<div class="modal-header"> 
		<button class="close" data-dismiss="modal">x</button>
		<a href="#" class="btn btn-danger modal-options pull-right" id="option-delete" style="margin-right: 15px;">Delete</a>
		<div class="btn-group pull-right hide" id="modal-crud-errors" style="margin-right: 15px;">
		  <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
		    <i class="icon-exclamation-sign icon-white"> </i> Errors
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu" id="modal-crud-error-list">
		    <!-- error messages -->
		  </ul>
		</div>
		
		<h3 id="modal-header"></h3>
	</div>
	<div class="modal-body">

		<form class="form-horizontal" id="modal-crud-form">
			<fieldset>
				<input type="hidden" name="id" value="" id="input-id" />
				<input type="hidden" name="csrf" value="" />
				
				<div class="control-group">
					<label class="control-label" for="input-name">Name</label>

					<div class="controls">
						<input type="text" class="input-medium" id="input-name" name="name" value="" maxlength="50 /">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="input-description">Description</label>

					<div class="controls">
						<textarea class="input-medium" id="input-description" name="description" rows="2"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="input-crafted_item">Crafted item</label>

					<div class="controls">
						<input type="text" class="input-medium" id="input-crafted_item" name="crafted_item" value="" maxlength="50 /">
						<a href="#" class="btn btn-mini btn-inverse" title="The end result of this recipe"><i class="icon-question-sign icon-white"></i></a>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="input-crafted_item">Ingredients</label>

					<div class="controls">
						<div class="row span9">
							<a href="#" class="btn btn-success btn-small pull-right" id="btn-add-ingredient">+</a>
						</div>
						<table class="table table-condensed span5" style="margin-bottom: 5px;">
						<tbody id="ingredient-body">
						</tbody>
						</table>
					</div>
				</div>
				</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success" id="modal-crud-save">Save</button>
	</div>
</div>


{{! Delete modal}}
<div class="modal hide fade" id="modal-delete">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>Delete</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete <strong id="modal-delete-name"></strong>?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" id="btn-remove">Delete</button>
		<button class="btn" data-dismiss="modal" id="modal-delete-keep">Keep the <span id="modal-delete-type"></span></button>
	</div>
</div>
<div class="notifications bottom-right" id="crud-notify"></div>