<span class="hide" id="csrf">{{csrf}}</span>

		<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped" id="data-table">
			<thead>
				<tr>
					<th class="span2">Title</th>
					<th class="span1">Status</th>
					<th class="span1">Stock</th>
					<th class="span3">Options</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4" class="dataTables_empty pagination-centered">Loading data from server</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4"><button class="btn btn-success pull-right btn-create">Create shop</button></td>
				</tr>
			</tfoot>
		</table>


{{! Shop form modal}}
<div class="modal hide fade" id="modal-crud">
	<div class="modal-header"> 
		<button class="close" data-dismiss="modal">x</button>
		<a href="#" class="modal-options btn btn-danger pull-right" id="option-delete" style="margin-right: 15px;">Delete</a>
		<div class="btn-group pull-right hide" id="modal-crud-errors" style="margin-right: 15px;">
		  <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
		    <i class="icon-exclamation-sign icon-white"> </i> Errors
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu" id="modal-crud-error-list">
		    <!-- error messages -->
		  </ul>
		</div>
		
		<h3 id="modal-header"></h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="modal-crud-form">
			<fieldset>
				<input type="hidden" name="id" value="" id="input-id" />
				<input type="hidden" name="csrf" value="" />
				
				<div class="control-group">
					<label class="control-label" for="input-title">Title</label>

					<div class="controls">
						<input type="text" class="input-medium" id="input-title" name="title" value="" maxlength="60" />
					</div>
				</div>
				<div class="control-group">
                	<label class="control-label" for="input-image">NPC image</label>
                    <div class="controls">
                		<div class="fileupload fileupload-new" data-provides="fileupload" id="input-image">
                			<div class="fileupload-new thumbnail" style="width: {{image.width}}px; height: {{image.height}}px;">
                		  		<img src="http://www.placehold.it/{{image.width}}x{{image.height}}/EFEFEF/AAAAAA" />
                		  	</div>
                		 	<div class="fileupload-preview fileupload-exists thumbnail" style="width: {{image.width}}px; height: {{image.height}}px;"></div>
                		  	<br />
                		  	<span class="btn btn-file">
                		  		<span class="fileupload-new">Select image</span>
                		  		<span class="fileupload-exists">Change</span>
                		  		<input type="file" />
                		  	</span>
                		  	<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                		</div>
                	</div>
                </div>
				<div class="control-group">
					<label class="control-label" for="input-npc_text">NPC text</label>

					<div class="controls">
						<input type="text" class="input-large" id="input-npc_text" name="npc_text" value="" maxlength="144" />
						<a href="#" class="btn btn-mini btn-inverse" title="Shown under the NPC image"><i class="icon-question-sign icon-white"></i></a>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="input-stock_type">Stock type</label>

					<div class="controls">
						<select id="input-stock_type" name="stock_type">
						    <option value="restock">Restock</option>
						    <option value="steady">Steady</option>
						</select>
						<a href="#" class="btn btn-mini btn-inverse" title="Will the shop restock items periodically or have a steady stock that does not change."><i class="icon-question-sign icon-white"></i></a>
					</div>
				</div>
				<div class="control-group">
                	<label class="control-label" for="input-stock_cap">Stock cap</label>

                	<div class="controls">
                		<input type="number" class="input-medium" id="input-stock_cap" name="stock_cap" value="" />
                		<a href="#" class="btn btn-mini btn-inverse" title="The maximum amount of item stacks a shop can contain after being restocked."><i class="icon-question-sign icon-white"></i></a>
                	</div>
                </div>
				<div class="control-group">
                	<label class="control-label" for="input-status">Status</label>

                	<div class="controls">
                		<select id="input-status" name="status">
                		    <option value="closed">Closed</option>
                		    <option value="open">Open</option>
                		</select>
                	</div>
                </div>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
	    <div class="progress progress-striped active span8 hide">
    		  <div id="modal-footer-upload-progress" class="bar bar-success" style="width: 1%;"></div>
    		</div>
		<button type="submit" class="btn btn-success" id="modal-crud-save">Save</button>
	</div>
</div>

{{! Stock modal}}
<div class="modal hide fade" id="modal-stock">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>Stock</h3>
	</div>
	<div class="modal-body">
	    <p>This shop contains <span id="modal-stock-count"></span> items<span id="modal-stock-cap" class="hide"></span></p>
		<table class="table table-striped">
		    <thead>
		        <tr>
		            <th class="span1"></th>
		            <th class="span2">Name</th>
		            <th class="span2">Price</th>
		            <th class="span2">Amount</th>
		            <th class="span1">Cap</th>
		            <th class="span2">Frequency</th>
		            <th></th>
		        </tr>
		    </thead>
		    <tbody id="table-stock-content">

		    </tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" id="btn-stock-add"><i class="icon-plus-sign icon-white"></i> Item</button>
		<button class="btn" data-dismiss="modal">Return</button>
	</div>
</div>

{{! restock item modal}}
<div class="modal hide fade" id="modal-stock-item">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<div class="btn-group pull-right hide" id="modal-stock-errors" style="margin-right: 15px;">
            <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
        	    <i class="icon-exclamation-sign icon-white"> </i> Errors
        		<span class="caret"></span>
        	</a>
            <ul class="dropdown-menu" id="modal-stock-error-list">
        	    <!-- error messages -->
            </ul>
        </div>
		<h3>Add item to stock</h3>
	</div>
	<div class="modal-body">
		<form id="form-stock-item" class="form-horizontal">
		    <input type="hidden" name="shop_id" value="" id="input-stock-shop-id" />
		    <input type="hidden" name="item_id" value="" id="input-stock-item-id" />
		    <input type="hidden" name="csrf" value="{{csrf}}" />

		    <div class="control-group">
                <label class="control-label" for="input-stock-item_name">Item name</label>

                <div class="controls">
                    <input type="text" class="input-medium" id="input-stock-item_name" name="item_name" value="" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-stock-min_price"><span class="restock">Min</span> price</label>

                <div class="controls">
                    <input type="number" class="input-medium" id="input-stock-min_price" name="min_price" value="" />
                </div>
            </div>
            <div class="control-group restock">
                <label class="control-label" for="input-stock-max_price">Max price</label>

                <div class="controls">
                    <input type="number" class="input-medium" id="input-stock-max_price" name="max_price" value="" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-stock-min_amount"><span class="restock">Min</span> amount</label>

                <div class="controls">
                    <input type="number" class="input-medium" id="input-stock-min_amount" name="min_amount" value="" />
                </div>
            </div>
            <div class="control-group restock">
                <label class="control-label" for="input-stock-max_amount">Max amount</label>

                <div class="controls">
                    <input type="number" class="input-medium" id="input-stock-max_amount" name="max_amount" value="" />
                </div>
            </div>
            <div class="control-group restock">
                <label class="control-label" for="input-stock-cap_amount">Cap amount</label>

                <div class="controls">
                    <input type="number" class="input-medium" id="input-stock-cap_amount" name="cap_amount" value="" />
                    <a href="#" class="btn btn-mini btn-inverse" title="Maximum amount this item stack can have after being restocked"><i class="icon-question-sign icon-white"></i></a>
                </div>
            </div>
            <div class="control-group restock">
                <label class="control-label" for="input-stock-frequency">Frequency</label>

                <div class="controls">
                    <input type="text" class="input-medium" id="input-stock-frequency" name="frequency" value="" />
                    <a href="#" class="btn btn-mini btn-inverse" title="How many seconds between restock intervals"><i class="icon-question-sign icon-white"></i></a>
                </div>
            </div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" id="btn-stock-add-complete">Add item to stock</button>
		<button class="btn" data-dismiss="modal">Return</button>
	</div>
</div>

{{! Delete modal}}
<div class="modal hide fade" id="modal-delete">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>Delete</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete <strong id="modal-delete-name"></strong>?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" id="btn-remove">Delete</button>
		<button class="btn" data-dismiss="modal" id="modal-delete-keep">Keep the <span id="modal-delete-type"></span></button>
	</div>
</div>
<div class="notifications bottom-right" id="crud-notify"></div>