<h2>
	{{category.title}}
	{{#category.locked}}
		<span class="label label-warning" title="Category is locked">Locked</span>
	{{/category.locked}}
</h2>

{{& pagination}}

<table class="table table-striped">

	<thead>
		<tr>
			<th class="topics">Topics</th>
			<th class="last-post">Last post</th>
			<th class="replies">Replies</th>
			<th class="views">Views</th>
		</tr>
	</thead>

	<tbody>
		{{#topics}}
			<tr>
				<td class="topics">
					<span class="title">
						{{#sticky}}<i class="icon-bullhorn"></i>{{/sticky}}
						{{#locked}}<i class="icon-lock"></i>{{/locked}}
						{{#poll}}<i class="icon-tasks"></i>{{/poll}}
						<a href="{{href}}">{{title}}</a>

						<div class="pull-right">
							{{#sticky}}<span class="label label-success">Sticky</span>{{/sticky}}
							{{#locked}}<span class="label label-important">Locked</span>{{/locked}}
						</div>
					</span>
					<span class="author">
						by <a href="{{user.href}}">{{user.username}}</a> at {{created}}
					</span>
				</td>
				<td class="last-post">
					<span class="author">
						Last post by <a href="{{last_post.user.href}}">{{last_post.user.username}}</a>
					</span>
					{{last_post.created}}
				</td>
				<td class="replies"><span class="badge">{{replies}}</span></td>
				<td class="views"><span class="badge">{{views}}</span></td>
			</tr>
		{{/topics}}
	</tbody>
</table>

{{^topics}}
	<div class="alert alert-error">No forum topics</div>
{{/topics}}

{{& pagination}}

{{#can_create}}
	<div class="form-actions">
		<a href="{{links.create}}" class="btn">New thread</a>
	</div>
{{/can_create}}
