<span class="hide" id="csrf">{{csrf}}</span>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped" id="crud-container">
	<thead>
		<tr>
			<th class="span2">Name</th>
			<th class="span3">Options</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="3" class="dataTables_empty">Loading data from server</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
		</tr>
	</tfoot>
</table>

{{! Role modal}}

<div class="modal hide fade" id="modal-crud">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<a href="#" id="option-delete" class="btn pull-right hide modal-options" style="margin-right: 15px;">Delete</a>
		<div class="btn-group pull-right hide" id="modal-crud-errors" style="margin-right: 15px;">
			<a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
		    	<i class="icon-exclamation-sign icon-white"> </i> Errors
		    	<span class="caret"></span>
		  	</a>
		  	<ul class="dropdown-menu" id="modal-crud-error-list">
		    	<!-- error messages -->
		  	</ul>
		</div>
		<h3 id="modal-header"></h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="modal-crud-form">		
			<input type="hidden" id="csrf" name="csrf" value="{{csrf}}" />
			<input type="hidden" name="id" value="" id="input-id" />
					
			<div class="control-group">
				<label class="control-label" for="input-username">Username</label>
	
				<div class="controls">
					<input type="text" class="input-medium" id="input-username" name="username" value="" maxlength="35">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success" id="modal-crud-save">Save</button>
	</div>
</div>

{{!role modal}}
<div class="modal hide fade" id="modal-role">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>Roles</h3>
	</div>
	<div class="modal-body">
		<button class="btn btn-success pull-right" id="add-role">Add role</button>
		<form id="role-form">
		<input type="hidden" id="csrf" name="csrf" value="{{csrf}}" />
		<input type="hidden" name="user_id" id="user-id" />
		<select id="role-list-options" name="role">
		</select>
		</form>
		<form id="add-role-form" class="hide">
		<input type="hidden" id="csrf" name="csrf" value="{{csrf}}" />
		<input type="hidden" name="user_id" id="add-user-id" />
		<input type="hidden" name="role_id" id="add-role-id" />		</form>
		
		<table class="table" id="role-list">
			<thead>
				<th class="span2">Name</th>
				<th class="span1"></th>
			</thead>
			<tbody>
				<td></td>
				<td></td>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Done</button>
	</div>
</div>

{{! Delete modal}}
<div class="modal hide fade" id="modal-delete">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>Delete</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete <strong id="modal-delete-name"></strong>?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" id="btn-remove">Delete</button>
		<button class="btn" data-dismiss="modal" id="modal-delete-keep">Keep the <span id="modal-delete-type"></span></button>
	</div>
</div>
<div class="notifications bottom-right" id="crud-notify"></div>
<script type="text/javascript">
var user_roles = {{& user_roles}};
</script>
