<span class="hide" id="csrf">{{csrf}}</span>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped" id="data-table">
	<thead>
		<tr>
			<th class="span2">Title</th>
			<th class="span1">Locked</th>
			<th class="span2">Options</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="3" class="dataTables_empty">Loading data from server</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"><button class="btn btn-success pull-right btn-create">Create Category</button></td>
		</tr>
	</tfoot>
</table>

{{! Forum modal}}

<div class="modal hide fade" id="modal-crud">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<a href="#" id="option-delete" class="btn pull-right hide modal-options" style="margin-right: 15px;">Delete</a>
		<div class="btn-group pull-right hide" id="modal-crud-errors" style="margin-right: 15px;">
			<a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
		    	<i class="icon-exclamation-sign icon-white"> </i> Errors
		    	<span class="caret"></span>
		  	</a>
		  	<ul class="dropdown-menu" id="modal-crud-error-list">
		    	<!-- error messages -->
		  	</ul>
		</div>
		<h3 id="modal-header"></h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="modal-crud-form">		
			<input type="hidden" name="id" value="" id="input-id" />
				<input type="hidden" name="csrf" value="" />					
			<div class="control-group">
				<label class="control-label" for="input-title">Title</label>
	
				<div class="controls">
					<input type="text" class="input-medium" id="input-title" name="title" value="" maxlength="50">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input-description">Description</label>
	
				<div class="controls">
					<textarea rows="5" class="input-medium" id="input-description" name="description"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input-locked">Locked category</label>
	
				<div class="controls">
					<select id="input-locked" name="locked" class="input-small">
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success" id="modal-crud-save">Save</button>
	</div>
</div>

{{! Delete modal}}
<div class="modal hide fade" id="modal-delete">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>Delete</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete <strong id="modal-delete-name"></strong>?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" id="btn-remove">Delete</button>
		<button class="btn" data-dismiss="modal" id="modal-delete-keep">Keep the <span id="modal-delete-type"></span></button>
	</div>
</div>
<div class="notifications bottom-right" id="crud-notify"></div>
