#messages {
	list-style: none;
	padding: 0;
	margin: 0;
}
#messages > li {
	position: relative;
	display: block;
	height: 47px;
	padding: 5px 10px 5px 30px;
	margin-top: 5px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
#messages > li:hover {
	background-color: #e3f2f0;
}
.message-unread {
	background-color: #eeeeee;
}
.message-unread:before {
	content: " ";
	position: absolute;
	top: 25px;
	left: 10px;
	width: 8px;
	height: 8px;
	background-color: #1f7bee;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}
.message-read {
	background-color: #fefefe;
}
.message-checked {
	border-color: #fffcaa !important;
	background-color: #fdffdb !important;
}
.messages-avatar {
	float: left;
	margin-right: 10px;
}
.messages-avatar img {
	width: 37px;
	height: 37px;
}
.messages-subject {
	display: block;
	color: #777777;
}
.messages-subject:hover {
	text-decoration: none;
	color: #777777;
}
.messages-subject > strong {
	color: #444444;
}
.messages-subject > span {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.messages-date {
	float: right;
	margin-top: -25px;
}
.message-checkbox {
	float: right;
	margin-left: 5px !important;
}