<h3>Delete Category <small>{{category.title}}</small></h3>

<div class="alert alert-error">
	<h4>Are you sure?</h4>
	Deleting a forum Category is <strong>irreversible</strong>!
</div>

<form method="post">
	<fieldset>

		<label for="move">Move all posts to category:</label>
		<select name="move" id="move">
			{{#categories}}
				<option value="{{id}}">{{title}}</option>
			{{/categories}}
		</select>

		<label for="delete" class="checkbox">
			<input type="checkbox" name="delete" id="delete">
			Don't move the posts, delete them instead, <span class="text-error">This is irreversible!!</span>
		</label>

		<div class="form-actions">
			<button type="submit" class="btn btn-danger">Yes, I'm sure delete this category</button>
			<a href="#" class="btn btn-success">No, go back!</a>
		</div>
	</fieldset>
</form>