<ul class="breadcrumb">
	{{#breadcrumb}}
		<li {{#active}}class="active"{{/active}}>

			{{^active}}
				<a href="{{href}}" title="{{title}}">
			{{/active}}

				{{#icon}}
					<i class="icon-{{icon}}"></i>
				{{/icon}}
				{{^icon}}
					{{title}}
				{{/icon}}

			{{^active}}
				</a>
			{{/active}}

			{{#divider}}<span class="divider">/</span>{{/divider}}
		</li>
	{{/breadcrumb}}
</ul>