<div class="pagination pagination-centered">
	<ul>
		{{#pages}}
			<li {{#active}}class="active"{{/active}}>
				<a href="{{link}}" rel="{{url}}">
					{{num}}
				</a>
			</li>
		{{/pages}}
	</ul>
</div>