<div class="row">
	<div class="span8 offset2">
		<h4>{{shop.title}} {{#owner}}<small>(<a href="{{profile}}">{{username}}</a>)</small>{{/owner}}</h4>
	</div>
</div>
<div class="row">
	<div class="span8 offset2">
		{{shop.description}}
		<hr>
	</div>
</div>
<div class="row">
	<div class="span8 offset2" align="center">
		<ul class="inline">
		{{#inventory}}
			<li class="span2 pagination-centered">
			<img src="{{img}}" /><br />
			{{name}} <br />
			Price: {{price}}
			</li>
		{{/inventory}}
		{{^inventory}}
		<li>Out of stock</li>
		{{/inventory}}
		</ul>
	</div>
</div>