<form method="post">
	<fieldset>
		<legend>Create Message</legend>

		<input type="hidden" name="csrf" value="{{csrf}}">

		<label for="receiver_id">Receiver</label>
		<input type="text" name="receiver" class="username-typeahead" value="{{username}}">

		<label for="subject">Subject</label>
		<input type="text" name="subject">

		<textarea name="content" id="message" class="textarea" placeholder="Enter text..."></textarea>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Send</button>
		</div>
		
	</fieldset>
</form>

