{{^total_messages}}
<div class="alert alert-error">
  You have have no messages.
</div>
{{/total_messages}}

{{#total_messages}}
You have {{total_messages}} messages. 

<table class="table table-striped">
	<thead>
		<tr>
			<th>Subject</th>
			<th>Sender</th>
			<th>Time</th>
		</tr>
	</thead>
	<tbody>
		{{#messages}}
			<tr>
				<td><a href="{{href}}">{{subject}}</a></td>
				<td><a href="{{sender.href}}">{{sender.username}}</a></td>
				<td>{{created}}</td>
			</tr>
		{{/messages}}
	</tbody>
</table>

{{/total_messages}}

	<div class="form-actions">
		<a href="{{links.create}}" class="btn">Create a message</a>
	</div>


