{{#message}}
        

<div class="post">
	<div class="row-fluid">
		<div class="thumbnail center span2">
			<a href="#">
				{{#sender.avatar}}{{>avatar}}{{/sender.avatar}}
			</a>

			<br>

			<a href="{{sender.href}}">{{sender.username}}</a>


			<br>

			Title: {{sender.title}}
		</div>
		<div class="span10" id="post{{id}}">
			<h5>
				<a href="#post{{id}}">
					<small>#{{id}}</small>
				</a>
				{{title}}
				<span class="pull-right">{{created}}</span>
			</h5>

			<p class="wrap">{{{content}}}</p>

			{{#sender.signature}}
				<div class="signature">
					<p>{{{sender.signature}}}</p>
				</div>
			{{/sender.signature}}

		</div>
	</div>
</div>

{{/message}}

	<div class="form-actions">
		<a href="{{links.reply}}" class="btn">Reply</a>
	</div>

