<div class="post well">
	<div class="row-fluid">
		<div class="span2">
			<a href="#">
				{{#user.avatar}}
					{{>avatar}}
				{{/user.avatar}}
			</a>
			<p><a href="{{user.href}}">{{user.username}}</a></p>
			<div class="userinfo">
				{{user.post_count}} Posts
			</div>
		</div>
		<div class="span10 forum-post" id="post{{id}}">
			<h5>
				<a href="#post{{id}}">
					<small>#{{id}}</small>
				</a>

				{{#can_edit}}
					<a href="{{links.edit}}" class="btn btn-small">edit</a>
				{{/can_edit}}
				{{#can_delete}}
					<a href="{{links.delete}}" class="btn btn-small">delete</a>
				{{/can_delete}}

				<span class="pull-right">{{created}}</span>
			</h5>

			<p class="wrap">{{{content}}}</p>

			{{#user.signature}}
				<div class="signature">
					<p>{{{user.signature}}}</p>
				</div>
			{{/user.signature}}
		</div>
	</div>
</div>
