<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8>
	<title>{{title}} - Modular Gaming</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{#assets_head}}
		{{& .}}
	{{/assets_head}}
</head>
<body class="{{body_class}}">

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{{base_url}}">Modular Gaming</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="{{base_url}}">Home</a></li>
						{{#logged_in}}
							<li><a href="{{base_url}}pets/">Pets</a></li>
							<li><a href="{{base_url}}inventory/">Inventory</a></li>
							<li><a href="{{base_url}}shops/">Shops</a></li>
							<li><a href="{{base_url}}games/">Games</a></li>
						{{/logged_in}}	
							<li><a href="{{base_url}}forum/">Forum</a></li>

					</ul>

					<ul class="nav pull-right">
                        <form class="navbar-search" action="{{base_url}}search/" method="get">
                            <input type="text" name="query" class="search-query" placeholder="Search">
                        </form>
						{{#logged_in}}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									{{player.username}}
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{{base_url}}user/profile/{{player.id}}">Profile</a></li>
									<li><a href="{{base_url}}message/inbox">Messages</a></li>
									<li><a href="{{base_url}}user/settings/">Settings</a></li>
									<li class="divider"></li>
									<li>
										<a href="/user/logout/">
											<label for="logout"><i class="icon-lock"></i> Logout</label>
										</a>
										<form action="{{base_url}}user/logout/" method="post" class="hide">
											<button class="btn btn-link" name="csrf" value="{{csrf}}" id="logout">Logout</button>
										</form>
									</li>
								</ul>
							</li>
							<li><a href="#">Points: {{player.points}}</a></li>
						{{/logged_in}}
						{{^logged_in}}
							<li><a href="{{base_url}}user/login/">Login</a></li>
							<li><a href="{{base_url}}user/register/">Register</a></li>
						{{/logged_in}}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
		{{#has_breadcrumb}}
			{{>breadcrumb}}
		{{/has_breadcrumb}}

		{{>hints}}
		
		{{>content}}
	
		<hr>

		<footer>
			<p>&copy; Modular Gaming 2013</p>
		</footer>
	</div>

	{{#assets_body}}
		{{& .}}
	{{/assets_body}}

	{{{debug_toolbar}}}
</body>
</html>
