{{#ajax}}<span class="hide" id="csrf">{{csrf}}</span>{{/ajax}}
<div class="row">
	<div class="span10" id="inventory-container">
	<div id="notifications">
	</div>
	{{& pagination}}
		<ul class="thumbnails">
		  {{#items}}
			<li class="span2 pagination-centered">
			    <a href="{{action_link}}" class="thumbnail" data-item-id="{{id}}">
			      	<img src="{{img}}" alt="" />
			      	<br /> <span class="item-name">{{name}}</span>
				</a>
			</li>
		{{/items}}
		</ul>
	{{& pagination}}
	</div>
	<div class="span2">
		<div class="row" style="padding-left: 35px;">
			<div class="btn-group">
				{{#links}}
				<a href="{{link}}" class="btn">{{name}}</a>
				{{/links}}
			</div>
		</div>
		<div class="row" style="padding-left: 45px; padding-top: 10px;">
			<div data-spy="affix" data-offset-top="20" data-offset-bottom="100" class="hide" id="item-consume" style="width: 180px;">
				<a href="#" id="item-action-close" class="muted pull-right" style="text-decoration: none; font-size: 16px;"><strong>&times;</strong></a><h5></h5>
				<ul class="nav nav-tabs nav-stacked" id="item-actions" style="width: 180px;">
				</ul>
			</div>
		</div>
	</div>
</div>
