<div class="row">
	<div class="span10">
		<ul class="thumbnails clearfix">
		  {{#items}}
			<li class="span2 pagination-centered">
			    <a href="{{action_link}}" class="thumbnail">
			      	<img src="{{img}}" alt="" />
			      	<br /> {{name}}
				</a>
			</li>
		{{/items}}
		</ul>
	</div>
	<div class="span2">
		Safe - shop - gallery
	</div>
</div>
