<div class="row">
	<div class="span10" id="inventory-container">
		<ul class="thumbnails">
		  {{#items}}
			<li class="span2 pagination-centered">
			    <a href="{{action_link}}" class="thumbnail">
			      	<img src="{{img}}" alt="" />
			      	<br /> {{name}}
				</a>
			</li>
		{{/items}}
		</ul>
	</div>
	<div class="span2">
		<div class="row" style="padding-left: 45px;">
			<div class="btn-group">
				<a href="#" class="btn">Safe</a>
				<a href="#" class="btn">Shop</a>
				<a href="#" class="btn">Gallery</a>
			</div>
		</div>
		<div class="row" style="padding-left: 45px; padding-top: 10px;">
			<div data-spy="affix" data-offset-top="20" class="hide" id="item-consume" style="width: 180px;">
				<a href="#" id="item-action-close" class="muted pull-right">&times;</a><h5></h5>
				<ul class="nav nav-tabs nav-stacked" id="item-actions" style="width: 180px;">
				</ul>
			</div>
		</div>
	</div>
</div>
