<h3>{{category.title}}</h3>

<table class="table table-striped">
	<thead>
 		<tr>
			<th>Suject</th>
			<th>Posted by</th>
			<th>Created</th>
		</tr>
	</thead>
	<tbody>
	{{#topics}}
		<tr>
			<td><a href="{{href}}">{{title}}</a></td>
			<td><a href="{{user.href}}">{{user.username}}</a></td>
			<td>{{created}}</td>
		</tr>
	{{/topics}}
	</tbody>
</table>

<div class="form-actions">
	<a href="{{links.create}}" class="btn">New thread</a>
</div>