<form method="post">
	<fieldset>
		<legend>New password</legend>

		<input type="hidden" name="csrf" value="{{csrf}}">

		<label for="password">New password</label>
		<input type="password" name="password" id="password">

		<label for="password_confirm">Confirm password</label>
		<input type="password" name="password_confirm" id="password_confirm">

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Change password</button>
		</div>
	</fieldset>
</form>
